# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).

{% for srv in chronyd_servers %}
server {{ srv }} iburst
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Enable kernel RTC synchronization.
rtcsync

# In first 3 updates step the system clock instead of slew
# if the adjustment is larger than 10 seconds.
makestep 10 3

# Allow client access from local network.
#allow 192.168/16

bindcmdaddress 127.0.0.1
bindcmdaddress ::1

# http://chrony.tuxfamily.org/manual.html#port-directive
port 0

# Serve time even if not synchronized to any NTP server.
local stratum 10

keyfile /etc/chrony.keys

# Disable logging of client accesses.
noclientlog

# Send a message to syslog if a clock adjustment is larger than 0.5 seconds.
logchange 0.5

logdir /var/log/chrony

# Hardware reference clock drivers

# https://chrony.tuxfamily.org/doc/3.4/chrony.conf.html#leapsecmode

# https://chrony.tuxfamily.org/doc/3.4/chrony.conf.html#maxslewrate

# https://chrony.tuxfamily.org/doc/3.4/chrony.conf.html#smoothtime